* { box-sizing: border-box; }

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: black;
    color: silver;
  }

a {
  color: yellow;
}

#main {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    bottom: -1px;

}
#container {
    margin: auto;
    border: 1px solid black;

}

.scene {
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 3s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  {
    display: flex;
    background: url('img/side1.png');
}

.cube__face--front #theCode {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 8pt;
    font-weight: bold;
    color: #A9A900;
    background: rgba(0, 0, 0, 0.7);

}

.cube__face--right  { background: url('img/side2.png'); }
.cube__face--back   { background: url('img/side3.png'); }
.cube__face--left   { background: url('img/side4.png'); }
.cube__face--top    { background: url('img/side5.png'); }
.cube__face--bottom { background: url('img/side6.png'); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }